doctype html
html(lang=lang)
    head
        title=title
    body
        header
            h1#ttt test
        main
            h2.aa good working?
        footer
            h4.bb yest good work it is footer